/* 
    LA SYNTAXe DU CSS
    selection {
        propriete : valeur;
        propriete : valeur;
    }

    exemple de selection, les paragraphes p
body p = paragraphe dans body
p = paragraphe

** Les regles de priorité CSS (du moins prioritaire au plus prioritaires)
1- l'ordre de déclaration : la derniere déclaration prend la priorité
2- La précision de la selection : si une selection est plus precise, c'est ce style qui est appliqué en priorité
3- le style inline (appliqué directement sur une balise HTML ) <h1 style="color: orange"></h1> prioritaire.
4- le mot !important apres un propriete:valeur, c'est ce style qui est appliqué en priorité (p { color: blue !important})

*/

/*
je fixe un style GLOBAL au texte
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
    font-weight: normal;
}

/*
    si je veux que ce soit tout ce qui a la class important, dans ce cas au lieu de mettre
    body p.important
    je met
    .important
*/
.important {
    color : rgb(37, 170, 223);
    background: rgb(221, 218, 218);

    /* on stylise le texte ici, j'applique les fonts open sans que j'ai chargé dans mon html*/    
    font-family: 'Open Sans', sans-serif; /* c'est dans l'ordre, si jamais il trouve pas la 1ere font, il met la suivante*/
    font-size: 18px;
    font-weight: normal;
  }

h1 {
    color: blue !important;
    font-size: 5em;
}

/*le div est une boite*/
div {
    width: 300px;
    height: 200px;/* ici la hauteur c'est celle du div auquel il faut ajouter 2xpadding + 2*border*/
    padding: 30px;
    border: 2px solid blue;
    margin: 50px;
    background: gray;
}

div.boite {
    box-sizing: border-box; 
    /*
        avec border box, la hauteur et largeur que l'on fixe va prendre en compte :
            - le contenu de la boite
            - les paddings (marge interieur
            - le border
            mais pas le margin (qui est l'exterieur de la boite).
        comme ca on sait que la div fera bien 200px de hauteur tout compris

        */    
    width: 300px;
    height: 200px;
    padding: 30px;
    border: 2px solid blue;
    margin: 50px;
    background: gray;
}

